node-red.json
[
    {
        "id": "bf2e2ec4406f5dfb",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b444f6d61d90976",
        "type": "inject",
        "z": "bf2e2ec4406f5dfb",
        "name": "Coucou",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Coucou",
        "payloadType": "str",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "5aea2e725cf93a30"
            ]
        ]
    },
    {
        "id": "5aea2e725cf93a30",
        "type": "debug",
        "z": "bf2e2ec4406f5dfb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "26667e07ddc94585",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "function 1",
        "func": "msg.payload = \"HEY !\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "5aea2e725cf93a30"
            ]
        ]
    },
    {
        "id": "3cdd4f3781e47e3f",
        "type": "inject",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bruh",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "26667e07ddc94585"
            ]
        ]
    },
    {
        "id": "4ecd7818545e9640",
        "type": "mqtt in",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "fcda51beb5819b3a"
            ]
        ]
    },
    {
        "id": "fcda51beb5819b3a",
        "type": "ui-text",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "group": "545970f6953b7a70",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "efe871087cf9751e",
        "type": "mqtt in",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/OIIA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "0ea7465239f5f1b5",
                "98e1d8d94565b88b",
                "5aea2e725cf93a30"
            ]
        ]
    },
    {
        "id": "0ea7465239f5f1b5",
        "type": "ui-notification",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "ui": "335bbf8be9cdcd03",
        "position": "bottom right",
        "colorDefault": false,
        "color": "#9c0bd0",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "OIIA Notif",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "98e1d8d94565b88b",
        "type": "ui-text",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "group": "545970f6953b7a70",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OIIA reçu !",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "bab3d4f5b8e4e840",
        "type": "mqtt in",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/Coeur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "2223b9f1a5a54d4d",
                "65247267ce6f5306",
                "8f9efd8954e7abd0"
            ]
        ]
    },
    {
        "id": "2223b9f1a5a54d4d",
        "type": "ui-gauge",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "group": "545970f6953b7a70",
        "order": 3,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Battement du coeur",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "90",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 550,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0b407e65f2f8a3d8",
        "type": "mqtt in",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/Group1-A/HeartBeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "a4399ed3bec1ed62"
            ]
        ]
    },
    {
        "id": "a4399ed3bec1ed62",
        "type": "ui-gauge",
        "z": "bf2e2ec4406f5dfb",
        "d": true,
        "name": "",
        "group": "545970f6953b7a70",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "65247267ce6f5306",
        "type": "ui-chart",
        "z": "bf2e2ec4406f5dfb",
        "group": "545970f6953b7a70",
        "name": "BPM en fonction du temps (s)",
        "label": "chart",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Temps (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "BPM",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "200",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 590,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "8f9efd8954e7abd0",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "storeBpm",
        "func": "let array = flow.get(\"bpm\");\n\narray.push(msg.payload);\n\nflow.set(\"bpm\", array);\n\nmsg.payload = array;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"bpm\", new Array());",
        "finalize": "",
        "libs": [
            {
                "var": "bpm",
                "module": "bpm"
            }
        ],
        "x": 520,
        "y": 900,
        "wires": [
            [
                "f98fe66a8963fb91",
                "2e09f74a88d4b1ed"
            ]
        ]
    },
    {
        "id": "f98fe66a8963fb91",
        "type": "debug",
        "z": "bf2e2ec4406f5dfb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "2e09f74a88d4b1ed",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "calculateAverage",
        "func": "let array = flow.get(\"bpm\");\n\nlet total = 0;\n\nfor(let i = 0; i < array.length - 1; i++)\n{\n    total += array[i];\n}\n\nlet average = Math.round(total/array.length);\n\nflow.set(\"average\", average);\n\nmsg.payload = average;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"average\", 0);",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1020,
        "wires": [
            [
                "f816ec0ae5731e9b",
                "6acb1b2e17fd9a6e"
            ]
        ]
    },
    {
        "id": "f816ec0ae5731e9b",
        "type": "ui-text",
        "z": "bf2e2ec4406f5dfb",
        "group": "545970f6953b7a70",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "displayAverage",
        "label": "Moyenne BPM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "average",
        "valueType": "flow",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "6acb1b2e17fd9a6e",
        "type": "debug",
        "z": "bf2e2ec4406f5dfb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1100,
        "wires": []
    },
    {
        "id": "92826e4981958d86",
        "type": "mqtt in",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/Bouton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "1a646d438927ef81",
                "5c87394eea679ba6",
                "7172988423c3a2b1",
                "f2bc91e937b3a162"
            ]
        ]
    },
    {
        "id": "1488843d999713ea",
        "type": "ui-notification",
        "z": "bf2e2ec4406f5dfb",
        "ui": "335bbf8be9cdcd03",
        "position": "center center",
        "colorDefault": false,
        "color": "#ec18d0",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 870,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "1a646d438927ef81",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "Début prise de pouls",
        "func": "if(msg.payload == \"Début de prise de pouls\")\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1200,
        "wires": [
            [
                "1488843d999713ea"
            ]
        ]
    },
    {
        "id": "5c87394eea679ba6",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "sendAverageBPMToClient",
        "func": "if(msg.payload == \"Fin de prise de pouls\")\n{\n    let average = flow.get(\"average\");\n\n    msg.payload = average;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1480,
        "wires": [
            [
                "445e409db9213277"
            ]
        ]
    },
    {
        "id": "ac6bbfb115741578",
        "type": "ui-notification",
        "z": "bf2e2ec4406f5dfb",
        "ui": "335bbf8be9cdcd03",
        "position": "center center",
        "colorDefault": false,
        "color": "#f20707",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 850,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "445e409db9213277",
        "type": "mqtt out",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/AverageBPM",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "95c338bedb281e80",
        "x": 790,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7172988423c3a2b1",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "Show end prise de pouls",
        "func": "if(msg.payload == \"Fin de prise de pouls\")\n{    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "ac6bbfb115741578"
            ]
        ]
    },
    {
        "id": "f2bc91e937b3a162",
        "type": "function",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "func": "let timerRunning = flow.get(\"timerRunning\") || false;\nlet startTime = flow.get(\"startTime\") || 0;\nlet elapsedTime = flow.get(\"elapsedTime\") || 0;\n\n// Si le bouton est pressé\nif(msg.payload === \"Début de prise de pouls\") {\n    if(!timerRunning) {\n        // démarrer le timer\n        startTime = new Date().getTime();\n        timerRunning = true;\n        elapsedTime = 0;\n    } else {\n        // arrêter le timer\n        elapsedTime = new Date().getTime() - startTime;\n        timerRunning = false;\n    }\n}\n\n// Sauvegarde dans flow context\nflow.set(\"timerRunning\", timerRunning);\nflow.set(\"startTime\", startTime);\nflow.set(\"elapsedTime\", elapsedTime);\n\n// Envoie le temps actuel pour affichage\nif(timerRunning) {\n    msg.payload = Math.floor((new Date().getTime() - startTime) / 1000); // secondes écoulées\n} else {\n    msg.payload = Math.floor(elapsedTime / 1000); // durée finale\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "b164ccadeb211d80"
            ]
        ]
    },
    {
        "id": "1b23bf404c6157fc",
        "type": "inject",
        "z": "bf2e2ec4406f5dfb",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "f2bc91e937b3a162"
            ]
        ]
    },
    {
        "id": "b164ccadeb211d80",
        "type": "ui-progress",
        "z": "bf2e2ec4406f5dfb",
        "group": "545970f6953b7a70",
        "name": "",
        "label": "Progress",
        "order": 1,
        "width": 0,
        "height": 0,
        "color": "",
        "className": "",
        "x": 900,
        "y": 1320,
        "wires": []
    },
    {
        "id": "95c338bedb281e80",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "545970f6953b7a70",
        "type": "ui-group",
        "name": "Group 1",
        "page": "1181d1a0f64df47a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "335bbf8be9cdcd03",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "1181d1a0f64df47a",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "335bbf8be9cdcd03",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "8a7eee67497c3c2d",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8a7eee67497c3c2d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ac4d4b6cc4ccf070",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]