node-red.json
[
    {
        "id": "37d68567eea3b8a7",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4436f714beca43eb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b05bc051328cc7c2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "335bbf8be9cdcd03",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "002edd35d1142f1d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "95c338bedb281e80",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a7eee67497c3c2d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1181d1a0f64df47a",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "335bbf8be9cdcd03",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "8a7eee67497c3c2d",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "545970f6953b7a70",
        "type": "ui-group",
        "name": "Group 1",
        "page": "1181d1a0f64df47a",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "cd968893a9b63e06",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c9990c1428e67bc6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a756ebd41fca28b1",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "63e6435b445745cf",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "92aa278c0362e7c8",
        "type": "inject",
        "z": "37d68567eea3b8a7",
        "name": "Coucou",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Coucou",
        "payloadType": "str",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "d7c57c06e0cfef33"
            ]
        ]
    },
    {
        "id": "d7c57c06e0cfef33",
        "type": "debug",
        "z": "37d68567eea3b8a7",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "8031545b4b37777d",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "function 1",
        "func": "msg.payload = \"HEY !\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 260,
        "wires": [
            [
                "d7c57c06e0cfef33"
            ]
        ]
    },
    {
        "id": "7177e9b4ecc4c77d",
        "type": "inject",
        "z": "37d68567eea3b8a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Bruh",
        "payloadType": "str",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "8031545b4b37777d"
            ]
        ]
    },
    {
        "id": "b65a55c9d8308cc9",
        "type": "mqtt in",
        "z": "37d68567eea3b8a7",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "bb11b370a1713ae8"
            ]
        ]
    },
    {
        "id": "bb11b370a1713ae8",
        "type": "ui-text",
        "z": "37d68567eea3b8a7",
        "d": true,
        "group": "545970f6953b7a70",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "9932b6fbfb58c2f5",
        "type": "mqtt in",
        "z": "37d68567eea3b8a7",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/OIIA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "c70b31b2ebc4ab19",
                "c55d978d7ae61daa",
                "d7c57c06e0cfef33"
            ]
        ]
    },
    {
        "id": "c70b31b2ebc4ab19",
        "type": "ui-notification",
        "z": "37d68567eea3b8a7",
        "d": true,
        "ui": "335bbf8be9cdcd03",
        "position": "bottom right",
        "colorDefault": false,
        "color": "#9c0bd0",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "OIIA Notif",
        "x": 520,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c55d978d7ae61daa",
        "type": "ui-text",
        "z": "37d68567eea3b8a7",
        "d": true,
        "group": "545970f6953b7a70",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "OIIA reçu !",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 530,
        "y": 640,
        "wires": []
    },
    {
        "id": "b3095e5261fd0909",
        "type": "mqtt in",
        "z": "37d68567eea3b8a7",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/Coeur",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 740,
        "wires": [
            [
                "a4762d34dde6f6f6"
            ]
        ]
    },
    {
        "id": "363fc891a4aef277",
        "type": "ui-gauge",
        "z": "37d68567eea3b8a7",
        "name": "",
        "group": "545970f6953b7a70",
        "order": 5,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Battement du coeur",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "85",
                "color": "#1ee01a",
                "text": "",
                "textType": "label"
            },
            {
                "from": "120",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "150",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3b4c867cdcac98",
        "type": "mqtt in",
        "z": "37d68567eea3b8a7",
        "d": true,
        "name": "",
        "topic": "homeTrainerCastres/Group1-A/HeartBeat",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "8a5cebb56c22f7ea"
            ]
        ]
    },
    {
        "id": "8a5cebb56c22f7ea",
        "type": "ui-gauge",
        "z": "37d68567eea3b8a7",
        "d": true,
        "name": "",
        "group": "545970f6953b7a70",
        "order": 8,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 530,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "74a0d70e8945e11d",
        "type": "ui-chart",
        "z": "37d68567eea3b8a7",
        "group": "545970f6953b7a70",
        "name": "BPM en fonction du temps (s)",
        "label": "chart",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Temps (s)",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "BPM",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "200",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 990,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "abf9b04adb953e0e",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "storeBpm",
        "func": "let array = flow.get(\"bpm\");\n\narray.push(msg.payload);\n\nflow.set(\"bpm\", array);\n\nmsg.payload = array;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"bpm\", new Array());",
        "finalize": "",
        "libs": [
            {
                "var": "bpm",
                "module": "bpm"
            }
        ],
        "x": 640,
        "y": 900,
        "wires": [
            [
                "e5f5c8f94da3574b",
                "e7424fdb02c8f479"
            ]
        ]
    },
    {
        "id": "e5f5c8f94da3574b",
        "type": "debug",
        "z": "37d68567eea3b8a7",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 900,
        "wires": []
    },
    {
        "id": "e7424fdb02c8f479",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "calculateAverage",
        "func": "let array = flow.get(\"bpm\");\n\nlet total = 0;\n\nfor(let i = 0; i < array.length - 1; i++)\n{\n    total += array[i];\n}\n\nlet average = Math.round(total/array.length);\n\nflow.set(\"average\", average);\n\nmsg.payload = average;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"average\", 0);",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 980,
        "wires": [
            [
                "f9fa884ab9b8065a",
                "32a291006f1f222c"
            ]
        ]
    },
    {
        "id": "f9fa884ab9b8065a",
        "type": "ui-text",
        "z": "37d68567eea3b8a7",
        "group": "545970f6953b7a70",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "displayAverage",
        "label": "Moyenne BPM",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "average",
        "valueType": "flow",
        "x": 1040,
        "y": 940,
        "wires": []
    },
    {
        "id": "32a291006f1f222c",
        "type": "debug",
        "z": "37d68567eea3b8a7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 1120,
        "wires": []
    },
    {
        "id": "0bd462ce9414e96f",
        "type": "mqtt in",
        "z": "37d68567eea3b8a7",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/Bouton",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "95c338bedb281e80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1160,
        "wires": [
            [
                "680b41458e50e516"
            ]
        ]
    },
    {
        "id": "7d3cc10535e1a05e",
        "type": "ui-notification",
        "z": "37d68567eea3b8a7",
        "ui": "335bbf8be9cdcd03",
        "position": "center center",
        "colorDefault": false,
        "color": "#ec18d0",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 850,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "680b41458e50e516",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "Début prise de pouls",
        "func": "if(msg.payload == \"Début de prise de pouls\")\n{\n    flow.set(\"applicationStopped\", false);\n    flow.set(\"stopMeasure\", false)\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"duration\", 0)\nflow.set(\"timePassed\", 0)",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 1200,
        "wires": [
            [
                "7d3cc10535e1a05e",
                "f2cd3f473942a4a1"
            ]
        ]
    },
    {
        "id": "51c88c10e594e006",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "sendAverageBPMToClient",
        "func": "if(msg.payload == \"Stop measure\")\n{\n    let average = flow.get(\"average\");\n\n    msg.payload = average;\n    \n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1600,
        "wires": [
            [
                "2e1495d45a8fe434"
            ]
        ]
    },
    {
        "id": "23452e3f458b95a2",
        "type": "ui-notification",
        "z": "37d68567eea3b8a7",
        "ui": "335bbf8be9cdcd03",
        "position": "center center",
        "colorDefault": false,
        "color": "#f20707",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1370,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "2e1495d45a8fe434",
        "type": "mqtt out",
        "z": "37d68567eea3b8a7",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/AverageBPM",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "95c338bedb281e80",
        "x": 1430,
        "y": 1600,
        "wires": []
    },
    {
        "id": "c83d10252c720c85",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "Show end prise de pouls",
        "func": "if(msg.payload == \"Stop measure\")\n{\n    // Message affiché dans la notif'\n    msg.payload = \"Fin de prise de pouls\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1360,
        "wires": [
            [
                "23452e3f458b95a2"
            ]
        ]
    },
    {
        "id": "f2cd3f473942a4a1",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "Timer",
        "func": "let timerRunning = flow.get(\"timerRunning\") || false;\nlet startTime = flow.get(\"startTime\") || 0;\nlet elapsedTime = flow.get(\"elapsedTime\") || 0;\nlet timePassed = flow.get(\"timePassed\") || 0;\n\nlet duration = parseInt(flow.get(\"duration\")) || 0;\nconsole.log(duration);\n\nlet stopMeasure = flow.get(\"stopMeasure\");\n\nif (msg.topic == \"duration\") {\n    let input = parseInt(msg.payload);\n    /*input += 1;\n    duration = input;*/\n    flow.set(\"duration\", input);\n\n    flow.set(\"currentPourcentage\", 0);\n    flow.set(\"potentialMaxReached\", 0);\n\n    // Définition du pourcentage de la progress bar\n    let pourcentageNotRounded = parseInt(100 / input);\n    console.log(\"pourcentageNotRounded : \" + pourcentageNotRounded);\n    // Arrondi avec 2 chiffres après la virgule\n    flow.set(\"pourcentageProgressBar\", pourcentageNotRounded);\n    console.log(\"updatingBar : \" + flow.get(\"updatingBar\"));\n}\n\n// Si le bouton est pressé\nif (msg.payload === \"Début de prise de pouls\") {\n    // msg.payload = 0;\n    if (!timerRunning) {\n        // démarrer le timer\n        startTime = new Date().getTime();\n        timerRunning = true;\n        elapsedTime = 0;\n        flow.set(\"updatingBar\", true);\n        console.log(\"updatingBar : \" + flow.get(\"updatingBar\"));\n    }\n}\n/*else if(msg.payload === \"Fin de prise de pouls\")\n{\n    // arrêter le timer\n    elapsedTime = new Date().getTime() - startTime;\n    timerRunning = false;\n}*/\n\nif (timerRunning) {\n    console.log(\"timmer IS RUNNING OIIA\");\n    let time = Math.floor((new Date().getTime() - startTime) / 1000);\n    console.log(\"TIME : \" + time);\n    timePassed = time;\n}\nconsole.log(\"timePassed \" + timePassed)\nconsole.log('timePassed > duration')\nconsole.log(timePassed > duration)\nif(timerRunning == true && timePassed <= duration)// Envoie le temps actuel pour affichage\n{\n    console.log(\"Coucou\");\n    let time = Math.floor((new Date().getTime() - startTime) / 1000); // secondes écoulées\n    timePassed = time;\n\n    console.log(\"TIME PASSED : \" + timePassed);\n\n    flow.set(\"timeWithSeconds\", time + \"s\");\n}\nelse if(timePassed > duration && !stopMeasure) {\n    // arrêter le timer\n    elapsedTime = new Date().getTime() - startTime;\n    timerRunning = false;\n    //timePassed = 0\n    flow.set(\"timerRunning\", false)\n    flow.set(\"stopMeasure\", true)\n    console.log(\"stop mesure\" + flow.get(\"stopMeasure\"))\n}\n\n// Sauvegarde dans flow context\nflow.set(\"timerRunning\", timerRunning);\nflow.set(\"startTime\", startTime);\nflow.set(\"elapsedTime\", elapsedTime);\nflow.set(\"timePassed\", timePassed);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Le code ajouté ici sera exécuté une fois\n// à chaque démarrage du noeud.\nflow.set(\"pourcentageProgressBar\", 0);\nflow.set(\"updatingBar\", false);",
        "finalize": "// Le code ajouté ici sera exécuté lorsque le\n// noeud sera arrêté ou redéployé.\n// Pour définir le temps à 0 au déploiement du noeud !\nflow.set(\"timeWithSeconds\", \"0s\");\n\n// Pas sûre qu'il y ait besoin de return msg; | A tester\n// return msg;",
        "libs": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "341a297acf2f956f",
                "71eb7dcc42f0326e",
                "fafe095dc46ac743",
                "015cf42f4db92162"
            ]
        ]
    },
    {
        "id": "d9908b82fc6a1874",
        "type": "inject",
        "z": "37d68567eea3b8a7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "f2cd3f473942a4a1"
            ]
        ]
    },
    {
        "id": "9a3c2e9c61f520df",
        "type": "ui-progress",
        "z": "37d68567eea3b8a7",
        "group": "545970f6953b7a70",
        "name": "Barre de progression",
        "label": "Progress",
        "order": 3,
        "width": 0,
        "height": 0,
        "color": "",
        "className": "",
        "x": 1060,
        "y": 1280,
        "wires": []
    },
    {
        "id": "341a297acf2f956f",
        "type": "ui-text",
        "z": "37d68567eea3b8a7",
        "group": "545970f6953b7a70",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Secondes ",
        "label": "Chronomètre de la prise de pouls",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "timeWithSeconds",
        "valueType": "flow",
        "x": 760,
        "y": 1360,
        "wires": []
    },
    {
        "id": "a4762d34dde6f6f6",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "Filtre valeurs capteur pouls",
        "func": "if(msg.payload > 30 && msg.payload < 150)\n{\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 740,
        "wires": [
            [
                "363fc891a4aef277",
                "74a0d70e8945e11d",
                "abf9b04adb953e0e"
            ]
        ]
    },
    {
        "id": "d36aa3d28eb31c1c",
        "type": "ui-text-input",
        "z": "37d68567eea3b8a7",
        "group": "545970f6953b7a70",
        "name": "",
        "label": "Durée de prise de pouls",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "duration",
        "topicType": "str",
        "mode": "number",
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": false,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "sendOnClear": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "x": 310,
        "y": 1020,
        "wires": [
            [
                "89fdd14e27e29f71",
                "f2cd3f473942a4a1"
            ]
        ]
    },
    {
        "id": "89fdd14e27e29f71",
        "type": "debug",
        "z": "37d68567eea3b8a7",
        "name": "DUREE MAXIMUM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 1080,
        "wires": []
    },
    {
        "id": "71eb7dcc42f0326e",
        "type": "debug",
        "z": "37d68567eea3b8a7",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1100,
        "wires": []
    },
    {
        "id": "208ac35a0e88b5ac",
        "type": "mqtt out",
        "z": "37d68567eea3b8a7",
        "name": "",
        "topic": "homeTrainerCastres/Group2-A/stopMeasure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "95c338bedb281e80",
        "x": 1250,
        "y": 1460,
        "wires": []
    },
    {
        "id": "fafe095dc46ac743",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "send stopMeasure Message to Arduino",
        "func": "let stopMeasure = flow.get(\"stopMeasure\");\nlet applicationStopped = flow.get(\"applicationStopped\");\n\n// Si on doit arrêter la mesure\n// Et que l'application n'a pas encore été arrêtée (tourne encore)\nconsole.log(\"message reçu de timer\")\nconsole.log(\"stop mesure\" + flow.get(\"stopMeasure\"))\nconsole.log(\"applicationStopped\" + applicationStopped)\nif(stopMeasure && !applicationStopped)\n{\n    console.log(\"arreter la mesure\")\n    flow.set(\"applicationStopped\", true);\n\n    msg.payload = \"Stop measure\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1460,
        "wires": [
            [
                "208ac35a0e88b5ac",
                "51c88c10e594e006",
                "c83d10252c720c85"
            ]
        ]
    },
    {
        "id": "015cf42f4db92162",
        "type": "function",
        "z": "37d68567eea3b8a7",
        "name": "Update progress bar",
        "func": "// Float\nlet pourcentageProgressBar = flow.get(\"pourcentageProgressBar\");\nlet currentPourcentage = flow.get(\"currentPourcentage\");\n\n// Float\nlet potentialMaxReached = flow.get(\"potentialMaxReached\");\npotentialMaxReached = parseInt(currentPourcentage + pourcentageProgressBar);\nlet updatingBar = flow.get(\"updatingBar\");\n\nconsole.log(\"pourcentageProgressBar : \" + pourcentageProgressBar);\nconsole.log(\"potentialMaxReached\", potentialMaxReached);\n\nif(!updatingBar && potentialMaxReached == 0)\n{\n    msg.payload = 0;\n    return msg;\n}\nif(potentialMaxReached <= 100 && updatingBar)\n{\n    console.log(\"updateBar !!!\");\n    currentPourcentage = parseInt(currentPourcentage + pourcentageProgressBar);\n    console.log(\"currentPourcentage : \" + currentPourcentage);\n    // On update la progress bar\n    msg.payload = currentPourcentage;\n\n    flow.set(\"currentPourcentage\", currentPourcentage);\n\n    return msg;\n}\n// Si la barre ne vaut pas 100% et qu'on doit encore l'update\nelse if(potentialMaxReached > 100 && updatingBar)\n{\n    flow.set(\"updatingBar\", false);\n    msg.payload = 100;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "9a3c2e9c61f520df"
            ]
        ]
    },
    {
        "id": "6d0eb218a39583f9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    }
]